<!DOCTYPE html>
<html lang="es">
<head th:replace="fragments/header :: head"></head>
<body>
    <nav th:replace="fragments/navbar :: nav"></nav>
    <div class="container" th:fragment="content">
        <div class="mt-2">
            <div class="alert alert-success" role="alert" th:if="${message} != null" th:text="${message}"></div>
            <div class="alert alert-danger" role="alert" th:if="${error} != null" th:text="${error}"></div>
            <form action="/login" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" value="test@test.com">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password" value="123">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
